/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/.qmake.stash
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/filter.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/filterdevice.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/FilterMaker.exe
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/main.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/mainwindow.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_predefs.h
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_qcustomplot.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_qcustomplot.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qcustomplot.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_images.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_images.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_mainwindow.h
/FilterMaker/FilterMaker/FilterMaker.pro.user.7ee4528
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/filters.txt
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/config.ini
