/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/.qmake.stash
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/filter.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/filterdevice.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/FilterMaker.exe
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/main.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/mainwindow.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_predefs.h
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_qcustomplot.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_qcustomplot.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qcustomplot.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_images.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_images.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_mainwindow.h
/FilterMaker/FilterMaker/FilterMaker.pro.user.7ee4528
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/filters.txt
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Debug/config.ini
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/.qmake.stash
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/config.ini
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/Makefile
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/Makefile.Debug
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/Makefile.Release
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/filter.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/filterdevice.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/FilterMaker.exe
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/main.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/mainwindow.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_mainwindow.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_mainwindow.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_predefs.h
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_qcustomplot.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_qcustomplot.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qcustomplot.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qrc_images.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qrc_images.o
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_1_MinGW_32bit-Release/ui_mainwindow.h

/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/.qmake.stash
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/config.ini
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/Makefile
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/Makefile.Debug
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/Makefile.Release
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/filter.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/filterdevice.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/FilterMaker.exe
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/main.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/mainwindow.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_mainwindow.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_mainwindow.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_predefs.h
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_qcustomplot.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_qcustomplot.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/qcustomplot.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/qrc_images.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/qrc_images.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/ui_mainwindow.h
/FilterMaker/FilterMaker/FilterMaker.pro.user.1c5d25e
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/.qmake.stash
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/dataloader.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/filter.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/filterdevice.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/FilterMaker.exe
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/FilterMaker.ilk
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/FilterMaker.pdb
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/FilterMaker.vc.pdb
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/main.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/mainwindow.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_mainwindow.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_mainwindow.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_predefs.h
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_qcustomplot.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_qcustomplot.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/qcustomplot.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/qrc_images.cpp
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/qrc_images.obj
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Debug
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Release
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/RSN.res
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/testData.txt
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/ui_mainwindow.h
/FilterMaker/build-FilterMaker-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/testData.txt
